# ignore everything
/*
/*/

# ... but these:
!/ranger/rc.conf
!/ranger/rifile.conf
!/ranger/scope.sh
!/tmux/
!/nvim/
!/hammerspoon/
!/zsh/
!README.md
!.gitignore
!/spacebar/
!/skhd/
!/yabai/
!/yazi/
!/alacritty/
!/karabiner/
!/lf/
!/TamperMonkey/
!/joshuto/
!/wezterm/
!/kitty/
!/ueberzugpp/
!/warpd/
!/command/
!/git/
!ideavimrc
!init.sh
!starship.toml

/nvim/plugged/
/nvim/tmp/
/nvim/plugin/
