# ignore everything
/*
/*/

# ... but these:
!/ranger/rc.conf
!/ranger/rifile.conf
!/ranger/scope.sh
!/tmux/
!/nvim/
!/hammerspoon/
!/zsh/
!README.md
!LICENSE
!.gitignore
!/spacebar/
!/skhd/
!/yabai/
!/yazi/
!/lazygit/
!/alacritty/
!/karabiner/
!/lf/
!/TamperMonkey/
!/joshuto/
!/wezterm/
!/kitty/
!/ghostty/
!/ueberzugpp/
!/warpd/
!/command/
!/git/
!/zellij/
!/aerospace/
!/neovide/
!/neofetch/
!/fastfetch/
!ideavimrc
!init.sh
!starship.toml

/nvim/plugged/
/nvim/tmp/
/nvim/plugin/
/lazygit/state.yml
